$hseColor:#005bab;

.notification-menu {
    position: absolute;
    width: 400px;
    height: 750px;
    top: 70px;
    left: -400px;
    z-index: 9999;
    overflow-y: auto;
    background-color: #ffffff;
    border-right: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    transition: all .3s linear;

    .notification {
        position: relative;
        height: 20%;
        border-bottom: 1px solid #000000;
        overflow: hidden;

        &-time {
            position: absolute;
            top: 0;
            right: 2px;
        }

        &-message {
            position: absolute;
            top: 26px;
            left: 20px;
            font-style: oblique;
        }

        &-event {
            position: absolute;
            top: 57px;
            left: 20px;
            max-width: 300px;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.menu-open {
    left: 0;
}


.notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 9999;
    position: absolute;
    top: 400px;
    left: 0;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
        background: $hseColor;
    }
}

.icon-missed {
    position: absolute;
    z-index: 9999;
    top: 390px;
    left: 30px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s linear;
}

.icon-missed-open {
    left: 430px;
}

.icon-open { 
    left: 400px;
}
