$hseColor:#005bab;
$white:#ffffff;
$red:#ff0000;

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1.8px;
    background-color: $hseColor;
    border-top: 1.8px solid $hseColor;
}

.calendar-grid-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;

    .day-of-week {
        text-align: center;
        font-weight: 700;
    }
}