$hseColor:#005bab;
$white:#ffffff;
$black:#000000;

.event-wrapper {
    transition: max-height .3s linear;
    width: 94%;
    margin: 0 auto;

    .label {
        opacity: .65;
        font-size: 14px;
        padding-left: 14px;
    }
}

.form-floating { 
    transition: max-height .3s linear;

    .description {
        resize: none;
    }
}

.modal-buttons {
    display: flex;
    margin-top: 16px 0;
}


.show {
    max-height: 500px;
    margin-bottom: 30px;

    .form-floating {
        max-height: calc(3.5rem + 2px);
    }
}

.hide {
    max-height: 0;
    overflow: hidden;
    
    .form-floating {
        max-height: 0;
    }
}

.event-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 700;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 12px;
    padding-left: 5px;
    cursor: pointer;

    .arrow {
      width: 16px;
      height: 16px;
      border-top: 4px solid $black;
      border-right: 4px solid $black;
      margin-right: 16px;
      transition: all .3s linear;
    }

    .top {
        transform: rotate(-45deg);
        margin-top: 10px;
    }

    .down {
        transform: rotate(135deg);
    }
}

.select {
    margin-bottom: 1rem!important;

    .custom-select {
        display: block;
        width: 100%;
        height: 54px;
        padding-left: 9px;
    }
    label {
        opacity: .65;
        font-size: 14px;
        padding-left: 14px;
    }
}


.data {
    display: flex;
    justify-content: space-around;
    height: calc(3.5rem + 2px);

    .low {
        .form-check-input:checked {
            background-color: green;
            border-color: green;
        } 
    }

    .medium {
        .form-check-input:checked {
            background-color: yellow;
            border-color: yellow;
        } 
    }

    .high {
        .form-check-input:checked {
            background-color: red;
            border-color: red;
        } 
    }
}

.priority {
    margin-bottom: 0 !important;
}