$red:#ff0000;
$white:#ffffff;
$black:#000000;

.day {
    position: relative;
    min-width: 120px;
    min-height: 90px;
    background-color: $white;
    cursor: pointer;
    transition: background-color .1s linear;

    &:hover {
        background-color: rgb(203, 244, 202);
    }
    
    .number-wrapper {
        position: absolute;
        width: 18%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        .not-current {
            opacity: .4;
        }
    }

    .events {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 14px;

        .event {
            border: 1px solid $black;
            width: 100%;
            height: 26px;
            overflow: hidden;
        }
    }

    .current {
        background-color: $red;
    }
}